body{
	background-color: #8181F7;
}

div{
	padding: 10px;
}

th{
	border-style: solid;
	border-color: black;
	border-width: 1px;
}

#Principal{
	background-color: #CED8F6;
	width: 100%;	
	margin-top: 10px;
	padding: 0px 0px 0px 0px;
}

#Titulo{
	background-color: #A9BCF5;
	padding: 25px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
}

#EsteMes{
	
}

#Eventos{
	text-align: center;
}

#ProximosEventos{
	text-align: right;
}

#Logeo{
	position: relative;
	left: 50%;
	top: -420px;
}

#MenuPrincipal{
	width: 100%;
	height: 45px;
	padding: 0px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	background-color: #A9BCF5;
}

.ItemMenuPral{
	border-right-style: solid;
	border-right-color: black;
	border-right-width: 1px;

	padding: 10px;
	width: 20%;
	height: 25px;
	text-align: center;

	position: relative;
}

.Item1{
	left: 0%;
	top: 0px;
}

.Item2{
	left: 20%;
	top: -45px;
}

.Item3{
	left: 40%;
	top: -90px;
}
.Item4{
	left: 60%;
	top: -135px;
}
.Item5{
	left: 80%;
	top: -180px;
}

.Actual{
	background-color: #5858FA;
}